.orders-container{
    width: 100%;
    height: 100%;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.orders-container h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--Rose-900);
}

#order-list{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#order-list .orders-default-text{
    color: var(--Rose-500);
    font-weight: 600;
}

#order-list .orders-default-text a{
    color: var(--Red);

}


.order {
    width: 100%;
    border: 1px solid var(--Rose-300);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 16px 28px;
  }

  .order-summary-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-summary{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--Rose-900);
    font-weight: 600;
    font-size: 14px;
  }

  .order-summary span{
    font-weight: 700;
  }

  .order-date{
    font-size: 20px;
    font-weight: 700;
  }

  .order-details-btn{
    background: none;
    border: none;
    border-bottom: 1px solid var(--Rose-900);
    color: var(--Rose-900);
    cursor: pointer;
    font-weight: 700;
  }

  .order-details-btn:hover{
    border-bottom: 1px solid var(--Red);
    color: var(--Red);
  }

  .order-product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    /* border-bottom: 1px solid var(--Rose-50); */
  }

  .order-details{
    margin-top: 20px;
    padding-top: 20px;
    /* border-top: 1px solid var(--Rose-500); */
  }
  
  .order-product-details-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
  }
  
  .order-product-img_details {
    display: flex;
    gap: 10px;
  }
  
  .order-product-image {
    min-width: 60px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 10px;
  }
  
  .order-product-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .order-product-quantity_price {
    display: flex;
    gap: 10px;
    font-size: 14px;
  }
  
  .order-product-name {
    color: var(--Rose-900);
    font-size: 16px;
    font-weight: 600;
  }
  
  .order-product-quantity {
    color: var(--Red);
    font-weight: 700;
  }
  
  .order-product-default-price {
    color: var(--Rose-300);
    font-weight: 600;
  }
  
  .order-product-total-price {
    color: var(--Rose-900);
    font-weight: 600;
    font-size: 16px;
  }