<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="../static/css/forms.css" />
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <nav>
      <div class="nav-content">
        <h1><a href="/">Food shop</a></h1>
        <div class="nav-links">
          <ul>
            <a href="/">Products</a>
          </ul>
        </div>
      </div>
  </nav>
    <div class="form-container">
      <form class="login-form" id="loginForm" method="POST" action="/login">
        <h1>Login</h1>
        <div class="form-inputs">
          <div class="form-input-group">
            <label for="email">Email:</label>
            <input class="login-email-input" type="email" name="email" placeholder="Enter your email"/>
          </div>
          <div class="form-input-group">
            <label for="password">Password:</label>
            <input class="login-password-input" type="password" name="password" placeholder="Enter your password"/>
          </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}          
            <div class="form-{{ category }}-message">
                <p>{{ message }}</p>
            </div>
              {% endfor %}            
          {% endif %}
        {% endwith %}
        <p class="form-link">Don't have an account? <a href="/signup">Signup</a></p>
        
        <button type="submit" class="form-submit-btn">Login</button>
      </form>
    </div>
  </body>
</html>
