<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/assets/images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/ordersPage.css">

    <title>Food shop</title>
  </head>
  <body>
    <nav>
      <div class="nav-content">
        <h1><a href="/">Food shop</a></h1>
        <div class="nav-links">
          {% if user_logged_in %}
          <ul>
            <a href="/">Products</a>
            <li class="user-dropdown">
              <span class="user-name" data-toggle="dropdown">{{ user_name }}</span>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
              
            </li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
  </nav>
    <div class="orders-container">
        <h1>Your Orders</h1>
        <div id="order-list">
          <p class="orders-default-text">No orders found. Place your first order <a href="/">here!</a></p></div>
    </div>
    <script type="module" src="../static/js/orderHistory.js"></script>
    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
